body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.settings-container {
  width: 95%;
  margin: 0 2.5%;
}

.settings-general{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.label{
  font-size: 1.4rem;
  font-weight: bold;
}

.settings-item-title{
  font-size:1.2rem;
}

.settings-item-description{
  display: block;
}

.el-switch{
  padding: 1%;
}

.footer-container {
  width: 100%;
  margin-top: 5%;
  display: block;
  text-align: center;
}

.footer-item {
  text-decoration: none;
  font-size: 18pt;
  font-family: Montserrat;
  margin: 0 5%;
  text-transform: uppercase;
}

.el-switch-black>input[type="checkbox"]:checked+.el-switch-style{
  background-color: black !important;
}